{% extends "shop/base.html" %}
{% load static %}
<link href="{% static "css/base.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>

{% block title %}
    Your orders list 
{% endblock %}

{% block content %}
    <h1>Your order list</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Cancel</th>
                <th>Order ID</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </td>
                <td>{{ product.name }}</td>
                
                <td>
                    <a href="{% url 'delete' product.id item.order_id %}">Remove</a>
                </td>

                <td class="text-justify" >{{ item.order_id }}</td>
                <td class="num">${{ item.price }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    <p class="text-right">
        
        <form action="{% url 'updateOrder' %}" method="GET">

            <input type="text" id="inputOrderId" name="orderid" hidden>
            <input type="submit" value="Confirm order">

        </form>
    </p>

    <script>
        $(document).ready(function(){
            $("#inputOrderId").val(localStorage.getItem("id_order"));
        });
    </script>
{% endblock %}



