{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <style>
        .box {
            width: 30%;
            height: 30%;
        }

        .image {
            width: 100%;
            height: 100%;
        }
    </style>
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
</head>
<body>
    <div id="subheader">

        <div style="float:left; margin:0px;">
            <a href="/shop/"><h2>My shop</h2></a>
        </div>
        
        <div class="cart" style="float:right; margin-right:10px; margin-top: 20px;">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Your cart: 
                    <a href="{% url 'cart_detail' %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>

        <div style="float:right; margin-right:5px; margin-top: 20px;">
            <img class="logo" width="30px" src="{% static "img/cart.png" %}">
        </div>

        <form action="{% url 'viewOrder' %}" method="GET">
                <input type="text" id="setIdOrder" name="orderid" hidden>

                <div class="cart" style="float:right; margin-right:30px; margin-top: 20px;" id="btn-cancel">
                    <input type="submit" value="Cancel order" href="" id="btn-cancel"></input>
                </div>

        </form>

        

        

    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        $(document).ready(function(){

            var URLactual = window.location;

            if (URLactual.pathname == '/orders/create/'){

                
                var id_order = $('#numer_order').val();
                localStorage.setItem("id_order", id_order);
                $('#setIdOrder').val(localStorage.getItem("id_order"))

            }

            if(localStorage.getItem("id_order") != null){
                
                $('#setIdOrder').val(localStorage.getItem("id_order"))
            }

            if(localStorage.getItem("id_order") === null){
                $("#btn-cancel").css("display", "none")
            }
        });
    </script>
</body>
</html>